#container {
  width: 940px;
  padding: 0 10px;
  margin: 10px auto 5px;
}
#page {
  overflow: hidden;
  background: #cccccc;
}
#page #main {
  padding: 0 10px;
}
#sidebar-first, #sidebar-second {
  display: none;
}
body.sidebar-first #main {
  width: 553px;
  float: right;
}
body.sidebar-first #sidebar-first {
  display: block;
  width: 357px;
  padding: 0 5px 0 5px;
  float: left;
}
body.sidebar-first #page {
  background-image: -moz-linear-gradient(left, #999999, #999999 367px, #cccccc 367px, #cccccc 100%);
  background-image: -webkit-linear-gradient(left, #999999, #999999 367px, #cccccc 367px, #cccccc 100%);
  background-image: linear-gradient(left, #999999, #999999 367px, #cccccc 367px, #cccccc 100%);
}
body.sidebar-second #main {
  width: 553px;
  float: left;
}
body.sidebar-second #sidebar-second {
  display: block;
  width: 357px;
  padding: 0 5px 0 5px;
  float: right;
}
body.sidebar-second #page {
  background-image: -moz-linear-gradient(left, #cccccc, #cccccc 573px, #999999 573px, #999999 100%);
  background-image: -webkit-linear-gradient(left, #cccccc, #cccccc 573px, #999999 573px, #999999 100%);
  background-image: linear-gradient(left, #cccccc, #cccccc 573px, #999999 573px, #999999 100%);
}
body.two-sidebars #main {
  width: 553px;
  float: left;
}
body.two-sidebars #sidebar-first {
  display: block;
  width: 216px;
  padding: 0 5px 0 5px;
  float: left;
}
body.two-sidebars #sidebar-second {
  display: block;
  width: 131px;
  padding: 0 5px 0 5px;
  float: left;
}
body.two-sidebars #page {
  background-image: -moz-linear-gradient(left, #999999, #999999 226px, #cccccc 226px, #cccccc -41px, #7f7f7f -41px, #7f7f7f 100%);
  background-image: -webkit-linear-gradient(left, #999999, #999999 226px, #cccccc 226px, #cccccc -41px, #7f7f7f -41px, #7f7f7f 100%);
  background-image: linear-gradient(left, #999999, #999999 226px, #cccccc 226px, #cccccc -41px, #7f7f7f -41px, #7f7f7f 100%);
}
footer {
  clear: both;
}
img,
embed,
object,
video {
  max-width: 100%;
}
